.content {
    padding: 0 3rem;
}
header {
    padding: 1rem;
    display: flex;
    color  : #ffffff;
    background-color: #0288d1;
    box-shadow: 0 4px 3px rgba(1, 87, 155, 0.5);
}

header img {
    height: 3rem;
    margin-left: 0.3rem;
}

header h3 {
    font-size:  1.75rem;
    font-weight: 300;
}